@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* global */
::before,
::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/* root variables */

:root {
    /* color palettes */
    --dark-bg-clr: #1F2937;
    --main-clr: #F9FAF8;
    --second-clr: #E5E7EB;
    --btn-clr: #3882F6;
    --info-h-txt: #1F2937;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.header {
    background-color: var(--dark-bg-clr);
    padding: 8px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}

.logo {
    width: 80px;
    height: auto;
}

.navbar {
    display: flex;
    gap: 20px;
}

.navbar li {
    position: relative;
}

.navbar li a {
    color: var(--second-clr);
    font-size: 18px;
    padding: 30px 0px;
    display: inline-block;
}

.navbar li a:hover,
.navbar li a.active  {
    border-bottom: 3px solid var(--second-clr);
}



